@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Overpass', 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #4b5862;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.desktop {
  display: none;
}

.hero-nav-wrapper {
  background: url(../images/bg-pattern-intro.svg) no-repeat left -60vw top -130px, -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: url(../images/bg-pattern-intro.svg) no-repeat left -60vw top -130px, linear-gradient(#ff8f70, #ff3d54);
  background-size: 135vh;
  height: 70vh;
  border-bottom-left-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: block;
}

header #hamburger {
  cursor: pointer;
}

header .icon-hamburger {
  background: transparent;
  border: 0;
}

header #logo {
  width: 90px;
  padding-left: 0.75em;
}

header #main {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  display: none;
  text-align: center;
  position: absolute;
  left: 15px;
  right: 0;
  z-index: 1;
  top: 150px;
  width: 95%;
  padding-bottom: 16px;
  padding-top: 16px;
}

header #main hr {
  width: 80%;
  margin: 0 auto;
  opacity: 0.3;
}

header #main a {
  display: block;
  color: #2c2d3f;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

header #main .cta-nav {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Ubuntu';
}

header .dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #2c2d3f;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-weight: 700;
}

header .dropdown .arrow-icon {
  height: 10px;
  padding-left: 10px;
}

header .dropdown-content {
  display: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 85%;
  margin: 0 auto;
}

header .dropdown-content a {
  color: #2c2d3f;
}

header .dropdown-li:hover .dropdown-content {
  display: block;
}

header .dropdown-li:hover .arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 10px;
  margin-left: 10px;
}

header .dropdownbtn {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 2em 4em;
}

header #nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #nav-right .cta {
  margin-top: 15px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  cursor: pointer;
  height: 40px;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Ubuntu';
}

.hero {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 2em;
}

.hero .cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .cta-buttons .cta, .hero .cta-buttons .cta-secondary:hover {
  color: #ff525d;
  background-color: white;
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Ubuntu';
}

.hero .cta-buttons .cta:hover {
  background-color: #ff7a85;
  color: white;
}

.hero .cta-buttons .cta-secondary {
  border: 1px solid white !important;
  background: none;
  color: white;
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Ubuntu';
}

.hero .hero-heading {
  font-size: 34px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-subheading {
  margin: 0 auto 50px auto;
  padding: 0 15px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.design-feature {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading, .subheading {
  text-align: center;
  color: #3b1f5b;
  font-weight: 600;
  font-family: 'Overpass';
  font-size: 28px;
  margin-bottom: 35px;
}

.subheading {
  padding: 0 60px;
  margin-bottom: 0px;
  line-height: 2rem;
}

.body-copy {
  text-align: center;
  padding: 0 40px;
  line-height: 2rem;
  font-weight: 300;
}

.infrastructure-feature {
  background: url(../images/bg-pattern-circles.svg) no-repeat, linear-gradient(85deg, #2c2d3f, #3f4164);
  background-size: cover;
  background-position: center bottom 30vh;
  margin-top: 250px;
  height: 75vh;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: white;
}

.infrastructure-feature .left {
  margin-top: -180px;
}

.infrastructure-feature .heading {
  color: white !important;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.infrastructure-feature .body-copy {
  padding: 0 40px;
}

.free-feature {
  margin-top: 100px;
  padding: 0;
}

.free-feature .body-copy {
  padding: 0 40px;
}

.free-feature .subheading {
  margin-top: 35px;
  margin-bottom: 25px;
}

footer {
  background: #25252d;
  border-top-right-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  padding-bottom: 80px;
}

footer .logo {
  width: 100px;
  margin: 80px auto 50px auto;
}

footer .link-heading {
  color: white;
  margin-bottom: 10px;
  margin-top: 40px;
  font-weight: 300;
  font-family: 'Overpass';
}

footer li {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}

footer li a {
  color: white;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Ubuntu';
}

@media only screen and (min-width: 1440px) {
  .desktop {
    display: unset;
  }
  .mobile {
    display: none;
  }
  #logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero-nav-wrapper {
    background: url(../images/bg-pattern-intro.svg) no-repeat left 30% center, linear-gradient(60deg, #ff8f70, #ff3d54);
    height: 70vh;
    border-bottom-left-radius: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.2em 7em 0 7em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header #hamburger {
    display: none;
  }
  header .nav-container {
    padding: 0 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  hr {
    display: none;
  }
  nav {
    position: relative;
    width: 95%;
    margin-left: 4em;
  }
  nav #main {
    background: unset;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav #main #right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  nav #main #right .cta-nav {
    color: #ff3d54;
    background: white;
    cursor: pointer;
    height: 40px;
    padding: 0px 20px;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Ubuntu';
  }
  nav #main #right .cta-nav:hover {
    background-color: #ff7a85;
    color: white;
  }
  nav .dropdown {
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 2.5em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav .dropdown .arrow-icon {
    padding-left: 5px;
  }
  nav .dropdown-content {
    position: absolute;
    display: none;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
    font-weight: 600;
    z-index: 1;
  }
  nav .dropdown-li:hover .arrow-icon {
    margin-left: 5px;
  }
  .hero {
    padding: 5em 5em 5em 8em;
    place-content: center;
  }
  .hero .hero-heading {
    font-size: 48px;
  }
  .hero .hero-subheading {
    font-size: 20px;
  }
  .hero .cta-buttons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 7em;
  }
  .design-feature {
    overflow: hidden;
  }
  .design-feature .heading {
    font-size: 36px;
    width: 100%;
    text-align: center;
    padding-left: 1em;
  }
  .design-feature .inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    place-content: center;
  }
  .design-feature .right {
    padding-left: 10em;
    margin-top: -100px;
    width: 100%;
  }
  .design-feature .left {
    padding-left: 10em;
    place-content: center;
  }
  .design-feature .left .subheading, .design-feature .left .body-copy {
    padding: unset;
    text-align: start;
  }
  .design-feature .left .subheading {
    padding: 0em 4em 0 2em;
  }
  .design-feature .left .body-copy {
    padding: 0em 4em 0 3.5em;
  }
  .infrastructure-feature {
    background: url(../images/bg-pattern-circles.svg) no-repeat, -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
    background: url(../images/bg-pattern-circles.svg) no-repeat, linear-gradient(#2c2d3f, #3f4164);
    background-position: bottom right 40vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    place-content: center;
    height: 50vh;
    margin-top: 80px;
  }
  .infrastructure-feature .left {
    width: 90%;
    padding-left: 5em;
    margin-top: 20px;
  }
  .infrastructure-feature .right .heading {
    padding-right: 2em;
    padding-top: 8.5em;
  }
  .infrastructure-feature .right .body-copy {
    text-align: start;
    width: 80%;
  }
  .free-feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    margin-top: 7em;
  }
  .free-feature .left {
    margin-left: -12em;
    width: 110%;
  }
  .free-feature .right {
    padding-left: 2em;
    padding-right: 8em;
    padding-top: 6em;
    place-content: center;
  }
  .free-feature .right .subheading, .free-feature .right .body-copy {
    text-align: start;
    padding: unset;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% auto;
        grid-template-columns: 25% auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 10em;
  }
  footer .logo {
    margin: unset;
    padding-left: 10em;
    padding-top: 4em;
  }
  footer .footer-links {
    padding-top: 1.5em;
    padding-left: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  footer .footer-links li, footer .footer-links a {
    text-align: start;
  }
}
/*# sourceMappingURL=main.css.map */