@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Overpass', 'Ubuntu', sans-serif;
  font-size: 16px;
  color: hsl(207, 13%, 34%);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.desktop {
  display: none;
}

.hero-nav-wrapper {
  background: url(../images/bg-pattern-intro.svg) no-repeat left -60vw top -130px, 
              linear-gradient(hsl(13,100%,72%), hsl(353,100%,62%));
  background-size: 135vh;
  height: 70vh;
  border-bottom-left-radius: 100px;
  align-items: center;
  padding-top: 35px;
}

.nav-container {
  a {
    color: hsl(0, 0%, 100%);
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;

  ul {
    display: block;
  }

  #hamburger {
    cursor: pointer;
  }

  .icon-hamburger {
    background: transparent;
    border: 0;
  }

  #logo {
    width: 90px;
    padding-left: 0.75em;
  }

  #main {
    overflow: hidden;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: none;
    text-align: center;
    position: absolute;
    left: 15px;
    right: 0;
    z-index: 1;
    top: 150px;
    width: 95%;
    padding-bottom: 16px;
    padding-top: 16px;

    hr {
      width: 80%;
      margin: 0 auto;
      opacity: 0.3;
    }

    a {
      display: block;
      color: hsl(237, 17%, 21%);
      text-align: center;
      padding: 10px;
      font-size: 17px;
    }

    .cta-nav {
      color: hsl(0, 0%, 100%);
      background: linear-gradient(90deg, hsl(13,100%,72%), hsl(353,100%,62%));
      cursor: pointer;
      height: 40px;
      padding: 0px 20px;
      border-radius: 100px;
      border: none;
      font-weight: 700;
      font-size: 14px;
      font-family: 'Ubuntu';
    }
  }

  .dropdown {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: hsl(237, 17%, 21%);
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-weight: 700;
    .arrow-icon {
      height: 10px;
      padding-left: 10px;
      content: url(../images/icon-arrow-dark.svg);
    }
  }

  .dropdown-content {
    display: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    a {
      color: hsl(237, 17%, 21%);
    }
  }

  .dropdown-li:hover {
    .dropdown-content {
      display: block;
    }
    .arrow-icon {
      transform: rotate(180deg);
      height: 10px;
      margin-left: 10px;
      content: url(../images/icon-arrow-dark.svg);
    }
  }

  .dropdownbtn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 2em 4em;
  }

  #nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cta {
      margin-top: 15px;
      color: hsl(0, 0%, 100%);
      background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
      cursor: pointer;
      height: 40px;
      padding: 10px 20px;
      border-radius: 100px;
      border: none;
      font-weight: 700;
      font-size: 14px;
      font-family: 'Ubuntu';
    }
  }

  // .nav-title {
  //   display: flex;
  // }
}

.hero {
  color: hsl(0, 0%, 100%);
  display: flex;
  text-align: center;
  padding: 2em;

  .cta-buttons {
    display: flex;
    justify-content: space-evenly;

    .cta, .cta-secondary:hover {
      color: hsl(356, 100%, 66%);
      background-color: hsl(0, 0%, 100%);
      cursor: pointer;
      height: 40px;
      padding: 0px 20px;
      border-radius: 100px;
      border: none;
      font-weight: 700;
      font-size: 14px;
      font-family: 'Ubuntu';
    }

    .cta:hover {
      background-color: hsl(355, 100%, 74%);
      color: hsl(0, 0%, 100%);
    }

    .cta-secondary {
      border: 1px solid hsl(0, 0%, 100%) !important;
      background: none;
      color: hsl(0, 0%, 100%);
      cursor: pointer;
      height: 40px;
      padding: 0px 20px;
      border-radius: 100px;
      border: none;
      font-weight: 700;
      font-size: 14px;
      font-family: 'Ubuntu';
    }
  }

  .hero-heading {
    font-size: 34px;
    margin-bottom: 0;
    display: flex;
  }

  .hero-subheading {
    margin: 0 auto 50px auto;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 300;
  }
}

.design-feature {
  margin-top: 100px;
  margin-bottom: 100px;

  .editor {
    content: url(../images/illustration-editor-mobile.svg);
    max-width: 100vw;
  }
}

.heading, .subheading {
  text-align: center;
  color: hsl(268, 49%, 24%);
  font-weight: 600;
  font-family: 'Overpass';
  font-size: 28px;
  margin-bottom: 35px;
}

.subheading {
  padding: 0 60px;
  margin-bottom: 0px;
  line-height: 2rem;
}

.body-copy {
  text-align: center;
  padding: 0 40px;
  line-height: 2rem;
  font-weight: 300;
}

.infrastructure-feature {
  background: url(../images/bg-pattern-circles.svg) no-repeat,
              linear-gradient(85deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-size: cover;
  background-position: center bottom 30vh;
  margin-top: 250px;
  height: 75vh;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: hsl(0, 0%, 100%);

  .left {
    margin-top: -180px;
  }

  .heading {
    color: hsl(0, 0%, 100%) !important;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .body-copy {
    padding: 0 40px;
  }
}

.free-feature {
  margin-top: 20px;
  padding: 0;

  .laptop {
    content: url(../images/illustration-laptop-mobile.svg);
    margin-top: 5em;
    overflow-x: hidden;
    max-width: 100vw;
  }

  .inner {
    margin-top: 5em;
  }
  
  .body-copy {
    padding: 0 40px;
  }

  .subheading {
    margin-bottom: 25px;
  }
}

footer {
  background: hsl(240, 10%, 16%);
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 80px;

  .logo {
    width: 100px;
    margin: 80px auto 50px auto;
  }

  .link-heading {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: 300;
    font-family: 'Overpass';
  }

  li {
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    a {
      color: hsl(0, 0%, 100%);
      font-weight: 400;
      font-size: 18px;
      font-family: 'Ubuntu';
    }
  }
}

@media only screen and (min-width: 1440px) {

  .desktop {
    display: unset;
  }
  
  .mobile {
    display: none;
  }

  #logo {
    align-self: center;
  }

  .hero-nav-wrapper {
    background: url(../images/bg-pattern-intro.svg) no-repeat left 30% center, 
              linear-gradient(60deg, hsl(13,100%,72%), hsl(353,100%,62%));
    height: 70vh;
    border-bottom-left-radius: 100px;
    align-items: center;
    padding: 2.2em 7em 0 7em;
    flex-direction: row;
  }

  header {    
    #hamburger {
      display: none;
    }

    .nav-container {
      padding: 0 7em;
      display: flex;
    }
  }

  hr {
    display: none;
  }

  nav {
    position: relative;
    width: 95%;
    margin-left: 4em;
    
    #main {
      background: unset;
      position: unset;
      display: flex;
      z-index: 0;
      justify-content: flex-start;
      
      #right {
        display: flex;
        position: absolute;
        right: 0;
        justify-content: flex-end;
        align-items: baseline;

        .cta-nav {
          color: hsl(353, 100%, 62%);
          background: hsl(0, 0%, 100%);
          cursor: pointer;
          height: 40px;
          padding: 0px 20px;
          border-radius: 100px;
          border: none;
          font-weight: 700;
          font-size: 14px;
          font-family: 'Ubuntu';
        }
      
        .cta-nav:hover {
          background-color: hsl(355, 100%, 74%);
          color: hsl(0, 0%, 100%);
        }
      }
    }

    .dropdown {
      color: hsl(0, 0%, 100%);
      display: inline-flex;
      padding-right: 2.5em;
      justify-content: flex-start;

      .arrow-icon {
        padding-left: 5px;
        content: url(../images//icon-arrow-light.svg);
      }
    }

    .dropdown-content {
      position: absolute;
      display: none;
      margin: 0 auto;
      width: fit-content;
      padding: 1em;
      font-weight: 600;
      z-index: 1;
    }

    .dropdown-li:hover {
      .arrow-icon {
        margin-left: 5px;
        content: url(../images//icon-arrow-light.svg);
      }
    }
  }

  .hero {
    padding: 5em 5em 5em 8em;
    place-content: center;

    .hero-heading {
      font-size: 48px;
    }

    .hero-subheading {
      font-size: 20px;
    }

    .cta-buttons {
      justify-content: space-evenly;
      padding: 0 7em;
    }
  }

  .design-feature {
    overflow: hidden;

    .editor {
      content: url(../images/illustration-editor-desktop.svg);
    }

    .heading {
      font-size: 36px;
      width: 100%;
      text-align: center;
      padding-left: 1em;
    }

    .inner {
      display: grid;
      grid-template-columns: 55% auto;
      place-content: center;
    }

    .right {
      padding-left: 3em;
      margin-top: -100px;
      margin-right: -15em;
      // width: 95%;
    }

    .left {
      padding-left: 10em;
      place-content: center;
      .subheading, .body-copy {
        padding: unset;
        text-align: start;
      }
      .subheading {
        padding: 0em 4em 0 2em;
      }
      .body-copy {
        padding: 0em 4em 0 3.5em;
      }
    }
  }

  .infrastructure-feature {
    background: url(../images/bg-pattern-circles.svg) no-repeat,
              linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-position: bottom right 40vw;
    display: grid;
    grid-template-columns: 55% auto;
    place-content: center;
    height: 50vh;
    margin-top: 80px;

    .left {
      width: 90%;
      padding-left: 5em;
      margin-top: 20px;
    }

    .right {
      .heading {
        text-align: start;
        padding-left: 1em;
        padding-top: 11.5em;
      }
      .body-copy {
        text-align: start;
        padding-right: 5em;
        width: 80%;
      }
    }
  }

  .free-feature {
    display: grid;
    grid-template-columns: 55% auto;
    margin-top: 7em;

    .left {
      margin-left: -12em;
      width: 120%;

      .laptop {
        content: url(../images/illustration-laptop-desktop.svg);
      }
    }

    .right {
      padding-left: 2em;
      padding-right: 8em;
      padding-top: 6em;
      place-content: center;

      .subheading, .body-copy {
        text-align: start;
        padding: unset;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: flex-start;
    padding-right: 10em;
    
    .logo {
      margin: unset;
      padding-left: 10em;
      padding-top: 4em;
    }

    .footer-links {
      padding-top: 1.5em;
      padding-left: 5em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li, a {
        text-align: start;
      }
    }

  }
}